@model  TimeCard.ViewModels.PaymentViewModel

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#summary">Summary</a>
        
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#edit">Edit</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active fade show" id="summary">
        @Html.Partial("_PaymentSummary", Model)
    </div>
    <div class="tab-pane fade" id="edit">
        @Html.Partial("_EditPayment", Model)
    </div>
</div>
<script>
    $(function () {
        $('a[href="#summary"]').on("show.bs.tab", function (e) {
            // refresh summary
            $.ajax({
                type: "POST",
                url: '@Url.Action("Index","Payment")',
                data: $("#formPayment").serialize() + "&buttonValue=Summary",
                success: function (html) {
                    $("#summary").html(html);
                }
            });
        });
    });
</script>
