@model  TimeCard.ViewModels.PaymentViewModel

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#summary">Summary</a>
        
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#edit">Edit</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane container active fade" id="summary">

    </div>
    <div class="tab-pane fade" id="edit">
        @Html.Partial("_EditPayment",Model)
     </div>
</div>

<script>
    $(function () {
        $("#@Html.IdFor(m => m.SelectedJob)").change(function () {
            $("#formPayment").submit();
        });
    });

</script>